{% extends 'menu.html' %}  {% load static %} {% block content %}
<div class="container">
  {% for x in products %}
  <img src="{{ x.image.url }}" alt="{{ x.title }}" style="width: 200px; margin-top: 20px" />

  {% static x.image.url %}
  <br />  
  {{ x.image.url }}
  <br />
  {{ x.title }}
  <br />
  {{ x.description }}
  <br />
  {{ x.price }}
  <br />
  <br />
  {% endfor %}
  <br />

  <nav aria-label="...">
    <ul class="pagination">
      {% if products.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">previous</a></li>
      {% endif %} {% for i in products.paginator.page_range %} {% if i == products.number %}
      <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% elif i > products.number|add:'-5' and i < products.number|add:'5' %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">next</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
